<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button routerLink="/todos" routerLinkActive="active-list-item">To Do</button>

<button mat-button routerLink="/gioithieu" routerLinkActive="active-list-item">Giới Thiệu</button>
<button mat-button routerLink="/sanpham" routerLinkActive="active-list-item">Sản Phẩm</button>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>account_circle</mat-icon>
  </button>
  <i class="fab fa-youtube"></i>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <i class="fab fa-youtube"></i>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
